{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'travail/stylewho.css' %}">
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{% static 'travail/stylewho.css' %}">
<html>
    <head>
        <title>
            WhoWeAre?
        </title>
    </head>
    <body>
       
        <p>
            
            Hi!
              We are Aloulou Yessine and Bouzid Asma students at the higher institute of technological studies in Sfax(ISETSFAX).</br>
             We’re very excited to officially announce the launch of our newly designed web site after month of hard work and dedication.</br>
             Our goal with this new web site is to provide our visitors with an easier and more practical ways to search for a job or find the perfect appropriate worker, clerk or technician.</br>
             Our current and prospective visitors will find useful information about our services on the home page.</br>
             This project will highlight how we have created a new value in finding a job or a worker while saving time and energy.</br>
             We’ll be constantly updating our content with helpful information, company announcements and adds.</br>
             eventually we would like to thank everyone who donated time and assistance to make this web site what it is.</br>
             For any question or suggestion conact us. </br> Thank you .
            </p>
            <a href="#">
                <img src="https://image.flaticon.com/icons/png/128/1251/1251704.png" alt="#">
                </a>
          





        
    </body>

</html>